<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <ul>
            <li>
                <a href="{{ full_url_for('home') }}">Home</a> {{ is_current_url('home') ? 'true' : 'false' }}
            </li>
            <li>
                <a href="{{ full_url_for('about') }}">About</a> {{ is_current_url('about') ? 'true' : 'false' }}
            </li>
        </ul>
        <hr>

        {% block content %}{% endblock %}
    </body>
</html>
